// Tipografia
$fuentePrincipal: "Montserrat", sans-serif;

// COlores
$verde: #4cb8b3;
$rosa: #f53756;
$amarillo: #fdda00;
$morado: #752f97;
$negro: #000000;
$blanco: #ffffff;
$rojo: #f04444;

// Medidas para responsive
$telefono: 480px;
$tablet: 768px;
$desktop: 1200px;
$desktopXL: 1400px;
