@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";
.lineup {
  background-color: v.$rosa;

  h3,
  .dia {
    color: v.$blanco;
    text-align: center;
  }
  .dia {
    text-transform: uppercase;
    font-size: 2.5rem;
  }
}

.escenarios-contenedor {
  @include m.contenedor;
  display: grid;
  gap: 1rem;
  @include m.tablet {
    @include m.grid(2, 5rem);
  }
}

.escenario {
  padding-top: 2rem;

  .nombre-escenario {
    font-size: 3rem;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
  }
}

.calendario {
  @include m.resetLista;
  li {
    font-weight: bold;
    padding: 2.5rem;
    span {
      font-weight: 400;
    }
  }
}

.bg-verde {
  background-color: v.$verde;
  li:nth-child(odd) {
    background-color: color.adjust(v.$verde, $lightness: 5%);
  }
}
.bg-amarillo {
  background-color: v.$amarillo;
  li:nth-child(odd) {
    background-color: color.adjust(v.$amarillo, $lightness: 5%);
  }
}
